name: lint

on:
  pull_request:
  workflow_dispatch:
  push:
    paths-ignore:
      - "docs/**"
      - README.md
      - "releases/**"

permissions:
  contents: read

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Setup go
        uses: actions/setup-go@v6
        with:
          go-version: "1.24.x"
          cache: false
      - name: Go linter
        uses: golangci/golangci-lint-action@55c2c1448f86e01eaae002a5a3a9624417608d84 # v6.5.2
        with:
          version: v1.64.8
          args: --timeout=30m
          install-mode: binary
