name: Sync k6 core dependencies

on:
  schedule:
    - cron: 0 16 * * 0  # Every Sunday at 16:00
  workflow_dispatch: {}

jobs:
  sync-k6-deps:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: write  # Push branch.
      pull-requests: write  # Create PR.
    env:
      GH_TOKEN: ${{ github.token }}
      BRANCH_NAME: ci-sync-deps
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: false
      - name: Sync dependencies
        run: |
          ./hack/depsync.sh

          if [[ -z "$(git status --porcelain --untracked-files=no)" ]]; then
            echo "Nothing to do"
            exit 0
          fi

          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"

          git checkout -b "$BRANCH_NAME"
          git commit -am "go.mod: sync dependencies with k6 core"
          git push -f -u origin "$BRANCH_NAME"
          
          gh pr create --fill --body-file sync-pr-body.txt || true # It is okay to fail if a PR already exists. 
